<!DOCTYPE html>
<html>
<head>
    <title>Busses in the area</title>
    <script type="application/javascript" src="javascript/underscore.js"></script>
    <script type="application/javascript" src="javascript/backbone.js"></script>
    <script type="application/javascript" src="javascript/jquery-2.1.4.js"></script>
    <script type="application/javascript" src="javascript/unibusclient.js"></script>
</head>
    <div id="location"></div>

    <!-- Templates -->
    <script type="text/template" id="location-template">
    <div class="view">
        <table>
            <tr><td>Longitute:</td><td><%- longitute %></td></tr>
            <tr><td>Latitute:</td><td><%- latitute %></td></tr>
        </table>
    </div>
</script>
</html>