body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


#circles {
    position: absolute;
    top: 0;
    left: 0;
}

#bus_stops {
    position: absolute;
    top: 0;
    left: 0;
}

.busstop {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    cursor: pointer;
}

.next_bus td{
    padding-right: 20px;

}